<style type="text/css">
#photo{
  float: left;
  width: 300px;
  margin-right: 20px;
}
#photo img{
  width: 100%;
}
#about{

}
</style>
<div>
  <div id="photo">
    <%= image_tag(@user.photo.url) %>
  </div>
  <div id="about">
    <h1>
      <%= @user.full_name %>
      <small>from <%= @user.address %></small>
    </h1>
    <p><%= @user.bio %></p>
    <h4>Skills</h4>
    <div><%= @user.skills.join(', ') %></div>
  </div>
</div>
